HUGGINGFACE_HUB_TOKEN=
HF_TOKEN=
WEB_UI_DETECTRON2_WEIGHTS=models/output_kvvb/model_final.pth
ATOMS_V2_UI_ELEMENTS_WEIGHTS=models/output_ui_detectron2/model_final.pth
# ui_elements | kvvb
ATOMS_V2_DETECTION_MODEL=ui_elements