models/*
debug/*
.idea/*
__pycache__
*.pt
.cursor/*
.venv/*
.cursor
.venv
*.pyc
*.log
output_kvvb/*
.env
.DS_Store
*.DS_Store
*.pth
*.pt
*.pkl
*.json
*.yaml
*.yml
*.csv
*.txt
*.log
*.err
*.out
*.log.gz